.Card {
  width: 16rem;
  background-color: rgb(219, 186, 88);
}

.title {
  font-size: 1rem !important;
  margin-top: 0.5rem;
}

.button {
  background-color: cadetblue;
  border-radius: 5px;
  border: none;
  color: white;
}

.button:hover {
  color: rgb(217, 226, 157);
  background-color: #6ea7a8;
}

/* media 576px */

@media (max-width: 576px) {
  .Card {
    width: 100%;
  }
}

/* media 778px */

/* @media (max-width: 778px) {
  .Card {
    width: 14rem;
  }
} */

/* media 1440px */

@media (min-width: 1440px) {
  .Card {
    width: 19rem;
  }
}
